/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/node_modules
public/libs
public/dist
public/css/theme
app/cloudfront/*
.php-cs-fixer.cache
public/sitemap.xml
public_key.pem
private_key.pem