.home-header{
    height: 500px;
    background-position: top right;
    background-repeat: no-repeat;
}

.home-box-img{
    max-width: 120px;
    max-height: 120px;
}

.home-mid-img{
    max-width: 400px;
}

.coinbasae-logo{
    height:1.3rem
}
