.bookmarks-nav a{}

.bookmarks-nav{
    flex-wrap:nowrap;
}

.notifications-menu-mobile .mCSB_container{
    display: flex;
}

.notifications-menu-mobile .mCustomScrollBox {
    width: 100%;
}

.notification-box .rounded-circle{
    height:70px;
    width:70px
}


.no-notifications{
    width: 150px;
}
