.profile-cover-bg{
    height:400px;
}

.card-img{
    border-radius: 0px!important;
}

@media (max-width: 767px) {
    .avatar-holder, .avatar-holder img{
        width: 130px;
        height: 130px;
    }
}
